.assign {
  font-size: 0.4em;
}

.title {
  font-size: 2em;
}

.home-nav:hover {
  background-color: #9a9a9c;
  border-radius: 2em;
}

.home-nav {
  color: black;
}

.like-nav:hover {
  background-color: #9a9a9c;
  border-radius: 2em;
}

.like-nav {
  color: black;
}

.header-root {
  background-image: url("./wood.jpg");
}

.labels {
  background-color: #eef3f6;
  opacity: 0.8;
}
